@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition)==0 {
      transition: $transition-base;
    }

    @else {
      transition: $transition;
    }
  }

  @if $enable-prefers-reduced-motion-media-query {
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}

@mixin mobile-xxs {
  @media (max-width: 400px) {
    @content;
  }
}

//min-sm
@mixin min-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

//md
@mixin desktop {
  @media (max-width: 991px) {
    @content;
  }
}

//sm to md
@mixin tablet-to-desktop {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}